@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;800&display=swap");

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

h1 {
  color: #ff3e00;
  font-size: 4rem;
  font-weight: 800;
}

h2 {
  color: #999;
  font-size: 1.8rem;
  font-weight: 500;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}
