@tailwind base;
@tailwind components;
@tailwind utilities;

cursor {
  width: 32px;
  height: 32px;
  position: fixed;
  top: -100px;
  left: -100px;
  border: 2px black solid;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  pointer-events: none;
}
